.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


.World {
  position: relative; 
  width: 900;
  height: 900;
  min-height: 900;
  display: block;
  background-color: blue;
  box-sizing: border-box;
}

.GridContainer {
  /* position: relative; */
  /* width: 800;
  height: 800; */
  display: block; 
  background-color: black;
  box-sizing: border-box;
}

.SimulationControls {  
  /* height: 100px; */
  /* display: block;  */
  /* background-color: aqua; */
  box-sizing: border-box;  
}

.Cell {
  position: absolute;
  width: 10px;
  height: 10px;
  /* display: block;  */
  /* background-color: aqua; */
  box-sizing: border-box;
  border-radius: 4px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
